<% layout('home_layout.ejs') %>
<link rel="stylesheet" href="/css/dashboard.css">

<h3 class="heading">Do you want to create or join a game?</h3>

<div class="center-container">
    <button onclick="window.location.href='/game_creation'" class="my-button">Create Game</button>
    <button onclick="window.location.href='/join'" class="my-button">Join Game</button>
</div>

<hr>

<h3 class="heading">Invite A Friend</h3>
<form action="/invite" method="POST" class="invite-form">
  <label for="toUserId">Send to (Username or Email):</label>
  <input type="text" id="toUserId" name="toUserId" required>

  <label for="gameId">Game ID:</label>
  <input type="text" id="gameId" name="gameId" required>

  <button type="submit" class="my-button">Send Invite</button>
</form>



