<% layout('home_layout.ejs') %>
<link rel="stylesheet" href="/css/dashboard.css">
<h3 class="heading"> Do you want to create or join game</h3>


<div class="center-container">
    <button onclick="window.location.href='/game_creation'" class="my-button">Create game</button>
    <button onclick="window.location.href='/join'" class="my-button">join game</button>
</div>

