<% layout('home_layout') %>
<link rel="stylesheet" href="/css/game_creation.css">

<div class="outer-container">
    <div style="margin: 10px;" class="containerform">

        <h3 class="heading">create a game</h3>
        <hr>

        <form method="POST" id="form_to_create">
            <p class="label">Create Game Code (6 digits):</p>
            <p><input type="text" name="code" id="code" required></p>
            <p><button type="submit">Submit</button></p>
        </form> 

    </div>
</div>

<script>
    document.getElementById("form_to_create").addEventListener("submit", function(event) {
        
        event.preventDefault(); // Stop form from submitting normally

        const code = document.getElementById("code").value;

        if (/^\d{6}$/.test(code)) {

            window.location.href = '/create_game'; 

        } else {
            alert("Please enter a valid 6-digit numeric code.");
        }
    });
</script>